html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#main {
    width: 100%;
    min-width: 500px;
    background-color: #313131;
}

#flex-container {
    display: flex;
    height: 100vh;
}

#pad-left {
    width: 100%;
}

#pad-right {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    body {
        background-color: #313131;
    }
}
